services:

  config-server:
    image: sunaodisha/config-server:latest
    container_name: config-server
    ports:
      - "4444:4444"
    networks: [petclinic]

  eureka:
    image: sunaodisha/eureka:latest
    container_name: eureka
    ports:
      - "8761:8761"
    depends_on:
      - config-server
    networks: [petclinic]

  api-gateway:
    image: sunaodisha/api-gateway:latest
    container_name: api-gateway
    ports:
      - "5555:5555"
    depends_on:
      - eureka
    networks: [petclinic]

  customers:
    image: sunaodisha/customers:latest
    container_name: customers
    ports:
      - "6666:6666"
    depends_on:
      - eureka
    networks: [petclinic]

  vets:
    image: sunaodisha/vets:latest
    container_name: vets
    ports:
      - "7777:7777"
    depends_on:
      - eureka
    networks: [petclinic]

  visitors:
    image: sunaodisha/visitors:latest
    container_name: visitors
    ports:
      - "8888:8888"
    depends_on:
      - eureka
    networks: [petclinic]

  genai:
    image: sunaodisha/genai:latest
    container_name: genai
    ports:
      - "9999:9999"
    depends_on:
      - eureka
    networks: [petclinic]

  admin:
    image: sunaodisha/admin:latest
    container_name: admin
    ports:
      - "9090:9090"
    depends_on:
      - eureka
    networks: [petclinic]

networks:
  petclinic:
    driver: bridge
