services:

  api-gateway:
    image: sunaodisha/api-gateway:latest
    build: ./api-gateway
    ports:
      - "5555:8080"

  admin:
    image: sunaodisha/admin:latest
    build: ./admin
    ports:
      - "4444:8080"

  config-server:
    image: sunaodisha/config-server:latest
    build: ./config-server
    ports:
      - "6666:8888"

  eureka:
    image: sunaodisha/eureka:latest
    build: ./eureka
    ports:
      - "7777:8761"

  customers:
    image: sunaodisha/customers:latest
    build: ./customers
    ports:
      - "8888:8080"

  vets:
    image: sunaodisha/vets:latest
    build: ./vets
    ports:
      - "9999:8080"

  visitors:
    image: sunaodisha/visitors:latest
    build: ./visitors
    ports:
      - "3333:8080"

  genai:
    image: sunaodisha/genai:latest
    build: ./genai
    ports:
      - "2222:8080"
